body {
   background-color: whitesmoke;
}

h1 {
   color: red;
   text-align: center;
   font-size: 40px;
}

.divHover {
    visibility: visible;
    color: black;
}

.divHover:hover {
    font-weight: bold;
}
