.headerBox {
    background-color: #3176B1;
    color: white;
    padding: 15px;
}

.centered {
    text-align: center;
}

.img-resize-30-l {
    max-width: 30%;
    max-height: auto;
    float: left;
}

.img-resize-90 {
    max-width: 90%;
    max-height: auto;
}

.crazydiv {
	position: relative;
	padding-bottom: 30px;
}

.buttonBox:active {
    transform: translateY(4px);
}

body {
    margin-bottom: 100px;
}