body {
    background-color: whitesmoke;
}

.headerBox {
    background-color: lightgray;
    padding: 3%;
}

.buttonBox {
    padding: 0.5%;
}

.buttonBox:hover {
    font-weight: bold;
    background-color: lightgray;
}

.centered {
    text-align: center;
    list-style-position: inside;
}