body {
    background-color: whitesmoke;
}

.headerBox {
    background-color: lightgray;
    padding: 3%;
}

.buttonBox {
    padding: 0.5%;
    background-color: aliceblue;
}

.centered {
    text-align: center;
    list-style-position: inside;
}